{% extends "admin/base.html" %}

{% block extrastyle %}
<style>
  /* Custom CSS for big navigation buttons */
  .big-nav-button {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 8px 16px;
    margin: 10px;
    background-color: #0C4B33;
    color: white;
    border: 1px solid #0C4B33;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s, border-color 0.2s;
  }

  .big-nav-button:hover {
    background-color: #123D29;
    border-color: #123D29;
    text-decoration: none;
    color: white;
  }

</style>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
<style>
  body {
    font-family: 'Cairo', sans-serif;
  }

</style>
{% comment %} <style>
  /* Change the header background color and text color */
  #header {
    background-color: #343a40;
    color: #fff;
  }

  /* Change the header link color */
  #header a {
    color: #fff;
  }

  /* Change the background color of the navigation menu */
  #nav {
    background-color: #f8f9fa;
  }

  /* Change the navigation menu link color */
  #nav a {
    color: #343a40;
  }

  /* Change the navigation menu link hover color */
  #nav a:hover {
    color: #007bff;
  }

  /* Change the table header background color and text color */
  .results thead th {
    background-color: #343a40;
    color: #fff;
  }

  /* Change the table row hover background color */
  .results tbody tr:hover {
    background-color: #f8f9fa;
  }

  /* Change the button background color */
  .submit-row input[type=submit],
  button,
  .button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  /* Change the button hover background color */
  .submit-row input[type=submit]:hover,
  button:hover,
  .button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

</style> {% endcomment %}
{% endblock %}

{% comment %} {% block extrahead %} {% endcomment %}
{% comment %} <div class="big-navigation">
  <a href="{% url 'admin:index' %}" class="big-nav-button">Dashboard</a>
  <a href="{% url 'admin:index' %}" class="big-nav-button">Model 1</a>
  <a href="{% url 'admin:index' %}" class="big-nav-button">Model 2</a>
  <!-- Add more navigation buttons as needed -->
</div> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
